// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.button {
    height: 80px;

    .h5 {
        margin-bottom: 0px;
    }
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 1rem;
    height: 25px;
    width: 25px;
    padding: 3px;
    background-color: transparent;
    border-color: transparent;

    &-edit {
        right: 35px;
    }
}

.alertMsg p:last-child {
    margin-bottom: 0px;
}
