// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.button {
    height: 80px;

    .h5 {
        margin-bottom: 0px;
    }
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 1rem;
    height: 25px;
    width: 25px;
    padding: 3px;
    background-color: transparent;
    border-color: transparent;
}

.dots {
    width: 0.375em;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}
