// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.button {
    height: 80px;

    .h5 {
        margin-bottom: 0px;
    }
}
